* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  /* text-align: center; */

  /* font-size: 1.8vw; */
}

body {
  margin: 0px;
}

:root {
  --primary-color: #319795;
  --secondary-color: #124747;
  --button-text-color: white;
}

.menu {
  grid-area: menu;
  padding: 1.8rem;
  position: fixed;
  top: 4rem;
  /* position: absolt;
  left: 0; */
}

.menu-heading {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.1rem 0.1rem;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header header header header header header"
    "menu main main main main main"
    "menu main main main main main";
}

.content {
  grid-area: main;
  margin-left: 0s.5rem;
}

.vl {
  margin-left: 12rem;
  border-left: 1px solid var(--primary-color);
  height: 490rem;
}

.menu-list {
  list-style: none;
  padding-inline-start: 0px;
}

.menu-list-item {
  width: 100%;
  padding: 10px 5px;
  margin: 5px 15px;
  text-align: left;
  font-weight: bold;
  font-size: large;
}

.menu-list-item:hover {
  padding-left: 1rem;
}

/* Navigation Bar */

.navigation {
  grid-area: header;
  width: 100%;
  background-color: var(--primary-color);
  text-align: center;
  border-bottom-right-radius: 1rem;
  margin: 0px;
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
}

.navigation .nav-brand {
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
  color: var(--button-text-color);
}

.navigation .link {
  color: var(--button-text-color);
}

.navigation .nav-pills {
  text-align: right;
}

.navigation .link-active {
  font-weight: d;
}

/* .list-no-bullets {
  list-style: none;
  padding-inline-start: 0px;
} */

.list-item-inline {
  display: inline;
  padding: 0rem 1 rem;
}

.link {
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.link-active {
  font-weight: bold;
}

/* Main-content */

.main-content {
  margin: auto;
  width: 60%;
  /* margin: 11.4rem 18rem; */
  position: absolute;
  top: 30%;
  left: 20%;
  display: flex;
  color: var(--primary-color);
}

.main-content-text {
  text-align: left;
  margin-left: 1rem;
  font-size: 4rem;
  font-weight: 700;
}

.main-logo {
  color: var(--primary-color);
  font-size: 8rem;
}

.main-content-para {
  font-size: 1.4rem;
  font-weight: 600;
  text-align: left;
  margin-bottom: 0;
}

.main-content-heading {
  font-size: 3rem;
  font-weight: 750;
  margin-top: 2rem;
  text-align: left;
  letter-spacing: 1rem;
}

.btn-getting-started {
  margin: 0;
  padding: 0.5rem 0.8rem;
  border-color: var(--primary-color);
  background-color: white;
  outline: none;
  color: var(--primary-color);
  font-weight: 600;
  border-radius: 0.3rem;
}

.content {
  padding: 2rem;
  text-align: left;
}

/* Installation */
.installation-heading {
  font-size: 3rem;
  font-weight: 700;
  padding: 1px;
  margin: 1px;
}

.installation-text {
  font-size: 1.7rem;
  font-weight: 600;
  padding: 1rem 0rem;
}

.components-heading {
  margin: 3rem 0rem;
  font-size: 2rem;
  font-weight: 600;
}

.iframes {
  margin: 1rem 0rem;
  width: 710px;
  font-size: 1rem;
}

/*Avatar */
.avatars {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.avatar-l {
  border-radius: 50%;
  width: 3%;
  height: 15%;
  margin: 1rem;
}

.avatar-xl {
  border-radius: 50%;
  width: 4%;
  height: 20%;
  margin: 1rem;
}

.avatar-xxl {
  border-radius: 50%;
  width: 5%;
  height: auto;
  margin: 1rem;
}

/* 
Alerts  */
.alert {
  width: 60%;
  /* margin: auto; */
  text-align: center;
  border-radius: 3%;
  font-size: large;
  padding-left: 1rem;
}

.alert-error {
  padding: 1%;
  background-color: rgb(254, 215, 215);
}

.alert-success {
  padding: 1%;
  background-color: #c6f6d5;
}

.alert-warning {
  padding: 1%;
  background-color: #feebc8;
}

.alert-info {
  padding: 1%;
  background-color: #bee3f8;
}

/* BADGES */

.badges {
  margin: 1rem 0rem;
}

.badge {
  color: var(--button-text-color);
  background-color: var(--primary-color);
  padding: 0.8% 1.5%;
  border-radius: 8%;
  font-weight: 600;
}

.badge-div {
  position: relative;
  border-radius: 2px;
  display: flex;
}

.badge-on-icon {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  left: 3.5rem;
  background-color: var(--primary-color);
  color: var(--button-text-color);
  font-size: 0.7rem;
  display: flex;
  justify-content: center;
}

.online-badge-on-icon {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  background-color: green;
  left: 2.8rem;
  color: green;
}

.badge-icons {
  width: 4rem;
  height: auto;
  border-radius: 50%;
}

/* button */
.btn {
  cursor: pointer;
  padding: 0.7%;
  background-color: var(--primary-color);
  color: var(--button-text-color);
  border-radius: 8%;
  font-weight: 600;
  margin: 1rem 1rem;
  outline: none;
}

.card-button {
  padding: 0.5rem;
}

.primary-button {
  cursor: pointer;
  padding: 0.7%;
  background-color: var(--primary-color);
  color: var(--button-text-color);
  border-radius: 8%;
  font-weight: 600;
}

.primary-button:hover {
  background-color: var(--secondary-color);
}

.link-button {
  text-decoration: none;
}

.floating-button {
  border-style: solid;
  outline: 0;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  border-radius: 50%;
  font-size: x-large;
  color: var(--primary-color);
  border: 2.5px solid var(--primary-color);
  /* width: 4%;
  height: 7%; */
}
.floating-button-lib {
  bottom: 2rem;
  right: 2rem;
  width: 3rem;
  height: 3rem;
  outline: 0;
  cursor: pointer;
  position: fixed;
  border-radius: 50%;
  font-weight: 600;
  font-size: x-large;
  color: var(--primary-color);
  border: 2.5px solid var(--primary-color);
}

.floating-button:hover {
  background-color: var(--secondary-color);
}

.floating-div {
  border-radius: 100%;
  width: 4%;
  height: 7%;
  margin: 1rem;
  /* position: fixed; */
  /* right: 10px;
  bottom: 10px; */
  z-index: 1;
}

/* //Cards */

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.card {
  text-align: center;
  max-width: 330px;
  height: auto;
  background-color: white;
  color: black;
  position: relative;
  box-shadow: 2px 2px #888888;
  margin: 1rem;
}

.card-content {
  text-align: left;
  padding-left: 1rem;
}

/* .dismiss-card:hover {
  box-shadow: 0 0 0 4px hsla(0, 0%, 80%), 0 0 0 6px hsla(0, 0%, 75%);
  /* transform: translateZ(1);
  opacity: 0.5; */
/* z-index: 2; */
/* box-shadow: 5px 10px #888888;
} */

.card-image {
  width: 100%;
  height: auto;
  margin: auto;
}

.card-dismiss-btn {
  border-style: none;
  outline: 0;
  cursor: pointer;
  border-radius: 100%;
  position: absolute;
  right: -3%;
  top: -2%;
  background-color: var(--primary-color);
  color: black;
  font-size: 80%;
  font-weight: 700;
  /* padding: 5px 10px; */
}

.card-dismiss-btn:hover {
  padding: 10px 15px;
}

.text-overlay-card {
  /* box-shadow: 0 0 0 2px hsla(0, 0%, 80%), 0 0 0 4px hsla(0, 0%, 75%); */
  align-self: start;
  box-shadow: 2px 2px #888888;
  width: 30%;
  height: 80%;
  background-color: var(--primary-color);
  color: var(--button-text-color);
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 2%;
  /* margin: auto; */
}

.text-overlay-image {
  position: relative;
  width: 100%;
}

.text-overlay-data {
  position: absolute;
  bottom: 0.5%;
  color: white;
  background-color: var(--primary-color);
  font-size: medium;
  width: 100%;
}

/* //Horizontal Card */

.horizontal-card {
  display: flex;
  width: 35%;
  background-color: var(--button-text-color);
  box-shadow: 0 0 0 4px hsla(0, 0%, 80%), 0 0 0 6px hsla(0, 0%, 75%);
  border-radius: 0.2%;
}

.horizontal-card-btn {
  outline: none;
  text-decoration: none;
  background: var(--primary-color);
  color: var(--button-text-color);
  width: 20%;
  height: 6%;
  font-size: 50%;
  text-align: center;
}

.horizontal-card-heading {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.horizontal-data {
  padding-top: 3%;
  text-align: center;
  margin: auto;
  font-size: 1rem;
}

.horizontal-card-image {
  width: 30%;
  height: 20%;
}

/* //responsive-img */

.responsive-img {
  margin: auto;
  width: 20%;
  height: 20%;
}

.round-responsive-img {
  margin: auto;
  width: 20%;
  height: auto;
  border-radius: 100%;
}

.input-outer-div {
  border-width: 1px;
  border-style: groove;
  width: 60%;
  border: 2px groove;
  border-radius: 10%;
  padding-left: 0;
  padding: 0.5%;
  margin-bottom: 2rem;
}

.input-div {
  border-width: 1px;
  border-style: groove;
  border: 2px groove;
  border-radius: 10%;
  width: 99%;
  margin: 0.25rem;
  min-width: 125px;
  padding: 0.5rem;
}

.input-div:focus {
  border: 2px solid var(--primary-color);
  outline: none;
}

input:optional {
  border-color: gray;
}

input:required:valid {
  border-color: var(--primary-color);
}

input:required:focus:valid {
  background: url("https://assets.digitalocean.com/labs/icons/hand-thumbs-up.svg")
    no-repeat 95% 50%;
  border-color: var(--primary-color);
  background-size: 25px;
}

input:focus:invalid {
  background: url("https://assets.digitalocean.com/labs/icons/exclamation-triangle-fill.svg")
    no-repeat 95% 50%;
  border-color: rgba(233, 6, 6, 0.623);
  background-size: 25px;
}

/* footer */
.footer {
  background-color: var(--primary-color);
  padding: 0rem 1rem;
  text-align: center;
  color: var(--button-text-color);
  border-top-left-radius: 1rem;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer .link {
  color: var(--button-text-color);
}

.footer .footer-header {
  padding-top: 5px;
  font-weight: bold;
  font-size: 1rem;
}

.footer ul {
  padding-inline-start: 0px;
}

.footer-components {
  background-color: var(--primary-color);
  padding: 1rem 1rem;
  text-align: center;
  color: var(--button-text-color);
  border-top-left-radius: 1rem;
  width: 100%;
}

.footer-components .link {
  color: var(--button-text-color);
}

.footer-components .footer-header {
  font-weight: bold;
  font-size: 1rem;
}

.footer-components ul {
  padding-inline-start: 0px;
}
.footer-text {
  margin: 0.5rem;
}
.footer-components .list-no-bullets {
  margin: 0;
}

@media screen and (max-width: 767px) {
  .menu {
    display: none;
    margin: 0;
    padding: 0;
  }
  .content {
    margin: 0;
  }
  .vl {
    display: none;
  }
  .main-content {
    position: absolute;
    top: 15%;
    margin: auto;
    display: block;
    flex-direction: column;
  }
  .grid-container {
    display: block;
  }

  .alert {
    width: 100%;
    padding-left: 0;
  }
  .main-content {
    margin: auto;
  }
  .main-content-heading {
    font-size: 50%;
    letter-spacing: 0.01rem;
  }
  .main-content-para {
    font-size: 20%;
    margin: 0;
  }
  .main-logo {
    margin: auto;
    width: 80%;
    height: auto;
  }
  .btn-getting-started {
    margin: 0;
  }
  .footer-components .footer-header {
    font-size: 80%;
  }

  .footer .footer-header {
    font-size: 60%;
  }
  .footer-text {
    font-size: xx-small;
    padding: 0;
    margin: 0.1rem;
  }
  .footer-components {
    padding: 0.6rem;
  }
  .footer-components .link {
    font-size: xx-small;
  }
  .footer .link {
    padding: 0px;
    font-size: xx-small;
  }
  .footer .list-no-bullets {
    margin: 0px;
    padding: 0ppx;
  }

  .footer .list-no-bullets {
    margin: 0px;
    padding: 0ppx;
  }
  .iframes {
    width: 100%;
    font-size: 0;
  }
  .horizontal-card {
    width: 80%;
  }
  .horizontal-data {
    font-size: xx-small;
  }
  .horizontal-card-btn {
    padding: 0.25rem;
  }
  .text-overlay-card {
    width: 60%;
  }

  .text-overlay-data {
    font-size: small;
  }

  .input-outer-div {
    width: 90%;
  }
  .avatar-xxl {
    width: 12%;
  }
  .avatar-xl {
    width: 10%;
  }
  .avatar-l {
    width: 8%;
  }
}
