* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  text-align: center;

  /* font-size: 1.8vw; */
}
body {
  margin: 0px;
}
:root {
  --primary-color: #319795;
  --secondary-color: #124747;
  --button-text-color: white;
}

/* Ham */

.header {
  grid-area: header;
  /* align-items: left; */
  text-align: left;
  padding: 5px;
  margin: 5px;
  font-size: xx-large;
  /* color: var(--primary-color); */
  height: 55px;
}
.menu {
  grid-area: menu;
}
.content {
  grid-area: main;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header header header header header header"
    "menu main main main main main"
    "menu main main main main main";
}
.menu-list {
  list-style: none;
  padding-inline-start: 0px;
}
.menu-list-item {
  width: 100%;
  padding: 10px 5px;
  margin: 5px 15px;
  text-align: left;
  font-weight: bold;
  font-size: large;
}
/* Navigation Bar */

.navigation {
  grid-area: header;
  background-color: var(--primary-color);
  text-align: center;
  padding: 1rem;
  border-bottom-right-radius: 1rem;
}

.navigation .nav-brand {
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
  color: var(--button-text-color);
}

.navigation .link {
  color: var(--button-text-color);
}

.navigation .nav-pills {
  text-align: right;
}

.navigation .link-active {
  font-weight: d;
}

/* .list-no-bullets {
  list-style: none;
  padding-inline-start: 0px;
} */

.list-item-inline {
  display: inline;
  padding: 0rem 1 rem;
}

.link {
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.link-active {
  font-weight: bold;
}

/*Avatar */
.avatar-icon {
  border-radius: 50%;
  width: 5%;
  /* height: auto; */
}

/* 
Alerts  */
.alert {
  width: 40%;
  margin: auto;
  text-align: center;
  border-radius: 3%;
  font-size: large;
}

.alert-error {
  padding: 1%;
  background-color: rgb(254, 215, 215);
}

.alert-success {
  padding: 1%;
  background-color: #c6f6d5;
}

.alert-warning {
  padding: 1%;
  background-color: #feebc8;
}

.alert-info {
  padding: 1%;
  background-color: #bee3f8;
}

/* BADGES */

.badge {
  color: var(--button-text-color);
  background-color: var(--primary-color);
  padding: 0.5%;
  border-radius: 8%;
  font-weight: 600;
}

.badge-div {
  position: relative;
  border-radius: 2px;
  display: inline-block;
}

.badge-on-icon {
  border-radius: 50%;
  position: absolute;
  top: -5px;
  background-color: var(--primary-color);
  left: 38px;
  font-size: 50%;
  padding: 1px 1px;
  color: var(--button-text-color);
  justify-content: center;
}

.badge-icons {
  width: 70%;
  height: auto;
}
/* button */

.primary-button {
  cursor: pointer;
  padding: 0.7%;
  background-color: var(--primary-color);
  color: var(--button-text-color);
  border-radius: 8%;
  font-weight: 600;
}
.primary-button:hover {
  background-color: var(--secondary-color);
}

.link-button {
  text-decoration: none;
}

.floating-button {
  border-style: solid;
  outline: 0;
  width: 100%;
  height: 100%;

  cursor: pointer;
  border-radius: 100%;
  background-color: var(--primary-color);
}

.floating-button:hover {
  background-color: var(--secondary-color);
}

.floating-div {
  border-radius: 100%;
  width: 4%;
  height: 7%;
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 1;
}

/* //Cards */

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  /* box-shadow: 0 0 0 2px hsla(0, 0%, 80%), 0 0 0 4px hsla(0, 0%, 75%); */
  max-width: 330px;
  height: 450px;
  background-color: var(--primary-color);
  color: var(--button-text-color);
  position: relative;
  box-shadow: 2px 2px #888888;
  margin: 5px;
}

/* .dismiss-card:hover {
  box-shadow: 0 0 0 4px hsla(0, 0%, 80%), 0 0 0 6px hsla(0, 0%, 75%);
  /* transform: translateZ(1);
  opacity: 0.5; */
/* z-index: 2; */
/* box-shadow: 5px 10px #888888;
} */

.card-image {
  width: 100%;
  height: auto;
  margin: auto;
}

.card-dismiss-btn {
  border-style: none;
  outline: 0;
  cursor: pointer;
  border-radius: 100%;
  position: absolute;
  right: -3%;
  top: -2%;
  background-color: white;
  color: black;
  font-size: 80%;
  font-weight: 700;
  /* padding: 5px 10px; */
}

.card-dismiss-btn:hover {
  padding: 10px 15px;
}

.text-overlay-card {
  /* box-shadow: 0 0 0 2px hsla(0, 0%, 80%), 0 0 0 4px hsla(0, 0%, 75%); */
  box-shadow: 2px 2px #888888;
  width: 30%;
  height: 80%;
  background-color: var(--primary-color);
  color: var(--button-text-color);
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 2%;
  margin: auto;
}

.text-overlay-image {
  position: relative;
}

.text-overlay-data {
  position: absolute;
  bottom: 0.5%;
  color: white;
  background-color: var(--primary-color);
}

/* //Horizontal Card */

.horizontal-card {
  display: flex;
  width: 40%;
  margin: auto;
  background-color: var(--button-text-color);
  /* color: var(--button-text-color); */
  box-shadow: 0 0 0 4px hsla(0, 0%, 80%), 0 0 0 6px hsla(0, 0%, 75%);
  border-radius: 0.2%;
  font-size: 1.5vw;
}
.horizontal-card-btn {
  text-decoration: none;
  background: var(--primary-color);
  color: var(--button-text-color);
  margin-top: 10px;
  width: 40%;
  height: 8%;
}

.horizontal-card-heading {
  margin-top: 1px;
  margin-bottom: 6px;
}

.horizontal-data {
  padding-top: 3%;
  text-align: center;
  margin: auto;
}

.horizontal-card-image {
  width: 30%;
  height: 20%;
}

/* //responsive-img */

.responsive-img {
  margin: auto;
  width: 20%;
  height: 20%;
}

.round-responsive-img {
  margin: auto;
  width: 20%;
  height: auto;
  border-radius: 100%;
}

.input-outer-div {
  border-width: 1px;
  border-style: groove;
  width: 60%;
  margin: auto;
  border: 2px groove;
  border-radius: 10%;
  padding-left: 0;
  padding: 0.5%;
  margin-bottom: 2rem;
}

.input-div {
  border-width: 1px;
  border-style: groove;
  border: 2px groove;
  border-radius: 10%;
  width: 99%;
  margin: 0.25rem;
  min-width: 125px;
  padding: 0.5rem;
}

.input-div:focus {
  border: 2px solid var(--primary-color);
  outline: none;
}

input:optional {
  border-color: gray;
}

input:required:valid {
  border-color: var(--primary-color);
}

input:required:focus:valid {
  background: url("https://assets.digitalocean.com/labs/icons/hand-thumbs-up.svg")
    no-repeat 95% 50%;
  border-color: var(--primary-color);
  background-size: 25px;
}
input:focus:invalid {
  background: url("https://assets.digitalocean.com/labs/icons/exclamation-triangle-fill.svg")
    no-repeat 95% 50%;
  border-color: rgba(233, 6, 6, 0.623);
  background-size: 25px;
}
